

page-about {
ion-content.gradient-pomegranate.content.content-ios {
    background-color: #EFEFEF;
}
.item-ios h2 {
    margin: 0 0 2px;
    font-size: 2.7rem;
    font-weight: normal;
}
.card-ios h2 {
    margin: 2px 0;
    font-size: 2.6rem;
    font-weight: normal;
}
ion-icon {
    display: inline-block;
    font-size: 2.2em;
}
.blue{
    color:#488aff;
}
.fab-ios-in-list {
    color: #fff;
    background-color: #488aff;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);}
}
