<ion-tabs>
    <ion-tab [root]="tab1Root" tabTitle="11AM" tabIcon="clock"></ion-tab>
    <ion-tab [root]="tab2Root" tabTitle="4PM" tabIcon="md-timer"></ion-tab>
    <ion-tab [root]="tab3Root" tabTitle="9PM" tabIcon="ios-time"></ion-tab>
</ion-tabs>
