<ion-header>
    <ion-navbar>
        <ion-title>STL 9 PM</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="gradient-pomegranate">
    <ion-grid>
        <ion-card class="gradient-green-tea">
            <ion-card-content>
                <ion-row>
                    <ion-col>
                        <div text-center class="labels">
                            <img width="auto" height="auto" class="logo" src="assets/imgs/smalltownlottery.png" />
                            <h2>456</h2>
                            <p>Stl</p>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div text-center class="labels">
                            <img width="auto" height="auto" class="logo" src="assets/imgs/swer3-lotto-Result-today.png" />
                            <h2>654</h2>
                            <P>Swer3</P>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div text-center class="labels">
                            <img width="auto" height="auto" class="logo" src="assets/imgs/smalltownlottery-result.png" />
                            <h2>40-30</h2>
                            <P>Pares</P>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-card-content>

        </ion-card>

        <ion-card class="gradient-blackberry">
            <ion-item>
                <ion-icon ios="ios-card" md="md-card" item-start large></ion-icon>
                <h1>Php 25,000.00</h1>
                <p>Draw Sales</p>
            </ion-item>
            <ion-card-content>
                <ion-item>
                    <span item-left>Cancelled</span>
                    <span item-left>(6)</span>
                    <button ion-button icon-left clear item-end>
                        <ion-icon name="navigate"></ion-icon>
                        View
                    </button>
                </ion-item>
                <ion-item>
                    <span item-left>Transaction</span>
                    <span item-left>(6)</span>
                    <button ion-button icon-left clear item-end>
                        <ion-icon name="navigate"></ion-icon>
                        View
                    </button>
                </ion-item>
            </ion-card-content>
        </ion-card>
        <ion-card class="gradient-pomegranate">
            <ion-card-content>
                <ion-row>
                    <ion-col col-6 text-center>
                        <div text-center>
                            <!-- Advanced: explicity set the icon for each platform -->
                            <ion-icon class="blue" ios="ios-medal" md="md-medal"></ion-icon>
                            <h2>457,595</h2>
                            <p>Number Of Winners</p>
                        </div>
                    </ion-col>
                    <ion-col col-6>
                        <div text-center>
                            <ion-icon class="blue" ios="ios-paper" md="md-paper"></ion-icon>
                            <h2>800</h2>
                            <p>Number Of Tickets</p>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-grid>

    <ion-fab right bottom>
        <button ion-fab color="">
            <ion-icon name="arrow-dropup"></ion-icon>
        </button>
        <ion-fab-list side="top">
            <button ion-fab>
                <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon>
            </button>
            <button ion-fab>
                <ion-icon ios="ios-person" md="md-person"></ion-icon>
            </button>
            <button ion-fab>
                <ion-icon ios="ios-cash" md="md-cash"></ion-icon>
            </button>
            <button ion-fab>
                <ion-icon ios="ios-print" md="md-print"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
